body {
  margin: 0;
}

.card {
  background: #d9dbf9;
  border-radius: 2px;
  color: white;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  color: #2c3780;
  margin: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

.button_home {
  color: white;
  font-size: 1.2rem;
  width: 80%;
  margin-bottom: 1.5rem;
}

.button_keluar {
  color: white;
  font-size: 1.2rem;
  width: 80%;
  margin-top: 1.5rem;
}

.dashboard_logo {
  margin: 1rem 0 5rem 0;
  height: 50px;
}

.button_keluar:hover,
.button_home:hover,
.button:hover {
  cursor: pointer;
}

.button::selection {
  border: 1px solid white;
  border-radius: 5px;
}

/* sidebar new */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  .button b {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar .button {
    text-align: center;
    float: none;
  }
}